<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="KittyWxFrame">
		<title>Welcome Kitty 15.04.0.2</title>
		<size>800,450</size>
		<minsize>400,300</minsize>
		<object class="wxGridBagSizer" variable="GridBagSizer1" member="no">
			<growablecols>0,1</growablecols>
			<growablerows>0,1</growablerows>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="KittySBSizer" member="no">
					<label>Move Cards</label>
				</object>
				<col>0</col>
				<row>0</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="yes">
			<object class="wxMenu" variable="Menu1" member="yes">
				<label>Help</label>
				<object class="wxMenuItem" name="ID_AboutHelpSubItem" variable="MenuItem1" member="yes">
					<label>About</label>
					<accel>Ctrl+H</accel>
					<help>Show details of this application</help>
				</object>
			</object>
		</object>
	</object>
</wxsmith>
