<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="KittyWxFrame">
		<title>Welcome Kitty 15.04.0.2</title>
		<size>400,439</size>
		<minsize>400,300</minsize>
		<object class="wxAuiManager" variable="OnlyAUI" member="yes">
			<object class="AuiManagerItem">
				<object class="wxPanel" name="ID_KittyPanel" variable="KittyPanel" member="yes">
					<object class="wxGridBagSizer" variable="OnlyGBS" member="no">
						<growablecols>0,1</growablecols>
						<growablerows>0,1</growablerows>
						<object class="sizeritem">
							<object class="wxStaticBoxSizer" variable="KittySBSizer" member="no">
								<label>Move Cards</label>
							</object>
							<col>0</col>
							<row>0</row>
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<name>PaneName</name>
				<standardpanetype>Center</standardpanetype>
				<caption>Kitty Play Area</caption>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<closebutton>0</closebutton>
				<row>1</row>
				<dockdirection>Center</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<floatable>0</floatable>
				<movable>0</movable>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
		</object>
	</object>
</wxsmith>
